.container {
  max-width: 950px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

/* CARD */
.card-block {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 180px;
  min-height: 250px;
  border: 1px solid black;
  margin: 10px;
}

.card__img {
  width: 180px;
  height: 180px;
  object-fit: cover;

  @media (max-width: 700px) {
    width: 160px;
    height: 160px;
  }
}

.card__subtitle {
  margin-block: 10px;
  font-size: 1.1rem;
  text-align: center;
}

.card__descr {
  font-size: 1rem;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* TABS */
.tabs__head {
  display: flex;
  justify-content: center;
  max-width: 30%;
  margin-inline: auto;
  border: 2px solid black;
}

.tabs__caption {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.tabs__content {
  display: none;
  margin: 30px;
}

.active {
  display: block;
}

.tabs__head .active {
  color: red;
}